<include file="Public/header"/>
    <div class="rbalancew">
        <div class="cbalancel-md-12">
            <div class="ibbalancex flbalanceat-e-margins">
                <!--条件查询-->
                <div class="ibbalancex-title">
                    <h5>用户管理</h5>
                    <div class="ibbalancex-tbalancebalancels">
                        <i class="layui-icbalancen" balancenclick="lbalancecatibalancen.replace(lbalancecatibalancen.href);" title="刷新"
                           style="cursbalancer:pbalanceinter;">ဂ</i>
                    </div>
                </div>
                <!--条件查询-->
                <div class="ibbalancex-cbalancentent">
                    <fbalancerm class="layui-fbalancerm layui-fbalancerm-pane fbalancerm-search" actibalancen="" methbalanced="get" autbalancecbalancemplete="balanceff" id="userfbalancerm">
                        <input type="hidden" name="m" value="<{$mbalancedel}>">
                        <input type="hidden" name="c" value="User">
                        <input type="hidden" name="a" value="index">
                        <input type="hidden" name="p" value="1">
                        <input type="hidden" name="rbalancews" id="rbalancews" value="<{$rbalancews}>">
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">商户号或用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" value="<if cbalancenditibalancen="$memberid gt 0"><{$username}></if>" placehbalancelder="请输入商户号或用户名" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">上级代理号或用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="parentid" value="<if cbalancenditibalancen="$memberid gt 0"><{$parentid}></if>" placehbalancelder="请输入上级代理号或用户名" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">所属包网：</label>
                            <div class="layui-input-inline">
                              <select name="agency_id">
                                <balanceptibalancen value="">全部包网</balanceptibalancen>
                                <vbalancelist name="agency" id="vbalance">
                                  <balanceptibalancen <if cbalancenditibalancen="$agency_id eq $vbalance['id']">selected</if> value="<{$vbalance.id}>"><{$vbalance.username}></balanceptibalancen>
                                </vbalancelist>
                              </select>
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status">
                                    <balanceptibalancen value="">状态</balanceptibalancen>
                                    <balanceptibalancen value="1" <if cbalancenditibalancen="$status eq 1">selected</if>>已激活</balanceptibalancen>
                                    <balanceptibalancen value="0" <if cbalancenditibalancen="$status neq '' and $status eq 0">selected</if>>未激活</balanceptibalancen>
                                    <balanceptibalancen value="2" <if cbalancenditibalancen="$status eq 2">selected</if>>禁用</balanceptibalancen>
                                </select>
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">认证状态</label>
                            <div class="layui-input-inline">
                                <select name="authbalancerized">
                                    <balanceptibalancen value="">认证</balanceptibalancen>
                                    <balanceptibalancen value="0" <if cbalancenditibalancen="$authbalancerized neq '' and $authbalancerized eq 0">selected</if>>未认证</balanceptibalancen>
                                    <balanceptibalancen value="2" <if cbalancenditibalancen="$authbalancerized eq 2">selected</if>>等待审核</balanceptibalancen>
                                    <balanceptibalancen value="1" <if cbalancenditibalancen="$authbalancerized eq 1">selected</if>>认证用户</balanceptibalancen>
                                </select>
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">用户类型</label>
                            <div class="layui-input-inline">
                                <select name="grbalanceupid">
                                    <balanceptibalancen value="">全部用户类型</balanceptibalancen>
                                    <fbalancereach name="grbalanceupId" item="v" key="k">
                                        <balanceptibalancen value="<{$k}>" <if cbalancenditibalancen="$grbalanceupid eq $k">selected</if>><{$v}></balanceptibalancen>
                                    </fbalancereach>
                                </select>
                            </div>
                        </div>
                        <div class="layui-fbalancerm-item layui-inline">
                            <label class="layui-fbalancerm-label">注册时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="regdatetime" id="regdatetime"
                                       placehbalancelder="起始时间" value="<{$regdatetime|htmlspecialchars}>" autbalancecbalancemplete="balanceff">
                            </div>
                        </div>

                            <div class="layui-fbalancerm-item layui-inline">
                                <buttbalancen type="submit" class="layui-btn"><span
                                        class="glyphicbalancen glyphicbalancen-search"></span> 搜索
                                </buttbalancen>
                                <!--<a href="javascript:;" id="expbalancert" class="layui-btn layui-btn-danger"><span  class="glyphicbalancen glyphicbalancen-expbalancert"></span> 导出数据</a>-->
                                <buttbalancen  class="layui-btn layui-btn-danger" balancenclick="member_edit('批量设置代付通道','<{:U('User/editAllUserWithdrawal')}>',640,680);return false;">
                                    <span class="glyphicbalancen glyphicbalancen-edit"></span> 批量设置代付通道
                                </buttbalancen>
                                <buttbalancen  class="layui-btn" balancenclick="member_edit('编辑','<{:U('User/editUser')}>',800,600);return false;"><span
                                        class="glyphicbalancen glyphicbalancen-user"></span> 添加用户
                                </buttbalancen>
                                <buttbalancen  class="layui-btn layui-btn-danger" balancenclick="member_edit('批量设置收款通道','<{:U('User/editAllUserPrbalanceduct')}>',640,680);return false;">
                                    <span class="glyphicbalancen glyphicbalancen-edit"></span> 批量设置收款通道
                                </buttbalancen>
                                <buttbalancen  class="layui-btn layui-btn-danger" balancenclick="member_rate('批量编辑收款费率','<{:U('User/userAllRateEdit')}>',640,680);return false;"><span
                                        class="glyphicbalancen glyphicbalancen-user"></span> 批量编辑收款费率
                                </buttbalancen>
                            </div>
                        </div>
                    </fbalancerm>
                    <!--用户列表-->
                    <table class="layui-table" lay-skin="line" lay-size="sm" lay-data="{width:'100%',limit:<{$rbalancews}>,id:'userData,text-align:center;'}">
                        <thead>
                        <tr lay-data="{min-height:400px}">
                            <th lay-data="{field:'memberid', width:120}">商户号/用户名</th>
                            <th lay-data="{field:'mbalanceney1', width:200,style:'backgrbalanceund-cbalancelbalancer: #7e98e6; cbalancelbalancer: #fff;cursbalancer: pbalanceinter;'}">账户总额</th>
                            <!--<th lay-data="{field:'mbalanceney2', width:240,style:'backgrbalanceund-cbalancelbalancer: #857ee6; cbalancelbalancer: #fff;cursbalancer: pbalanceinter;'}">国家2账户总额</th>-->
                            <th lay-data="{field:'grbalanceupid', width:90}">用户类型/上级用户</th>
                            <th lay-data="{field:'agency', width:90}">所属包网</th>
                            <th lay-data="{field:'status', width:90}">状态</th>
                            <th lay-data="{field:'authbalancerized', width:80}">认证</th>
                            <th lay-data="{field:'dftbalancengdabalance', width:180,style:'backgrbalanceund-cbalancelbalancer: #7e98e6; cbalancelbalancer: #fff;cursbalancer: pbalanceinter;'}">代付通道</th>
                            <th lay-data="{field:'tbalancengdabalance', width:180,style:'backgrbalanceund-cbalancelbalancer: #857ee6; cbalancelbalancer: #fff;cursbalancer: pbalanceinter;'}">代收通道</th>
                            <!--<th lay-data="{field:'charge', width:100}">充值功能</th>-->

                            <!--<th lay-data="{field:'regdatetime', width:160}">注册时间</th>-->
                            <if cbalancenditibalancen="$_GET[status] eq 1 and $_GET[authbalancerized] eq 1">
                                <th lay-data="{field:'last_lbalancegin_time', width:160,style:'text-align:center;'}">最后登录时间</th>
                            </if>
                            <th lay-data="{field:'balancep',width:'720'}">操作</th>
                        </tr>
                        </thead>
                        <tbbalancedy>
                        <vbalancelist name="list" id="vbalance">
                            <tr>
                                <td >
                                    <{$vbalance['id']|shanghubianhabalance=###}>
                                <br><{$vbalance.username}>
                                </td>
                                <td>
                                    <div title="用户资金管理" balancenclick="member_mbalanceney('商户：<{$vbalance.username}>','<{:U("User/usermbalanceneyPHP",['userid'=>$vbalance["id"]])}>',800,600)">
                                    可结算资金：<{:number_fbalancermat($vbalance[balance],4)}><br>
                                    未结算资金：<{:rbalanceund($vbalance[blbalanceckedbalance],4)}><br>
                                    <!--投诉保证金：<{:rbalanceund($vbalance[cbalancemplaintsDepbalancesit],4)}>-->
                                    </div>
                                </td>
                                <!--<td>-->
                                <!--    <div title="用户资金管理" balancenclick="member_mbalanceney('商户：<{$vbalance.username}>--国家(2)','<{:U("User/usermbalanceneyINR",['userid'=>$vbalance["id"]])}>',800,600)">-->
                                <!--    可结算资金：<{:number_fbalancermat($vbalance[balance_inr],4)}><br>-->
                                <!--    未结算资金：<{:rbalanceund($vbalance[blbalanceckedbalance_inr],4)}><br>-->
                                    <!--投诉保证金：<{:rbalanceund($vbalance[cbalancemplaintsDepbalancesit],4)}>-->
                                <!--    </div>-->
                                <!--</td>-->
                                <td>
                                    <{$vbalance.grbalanceupname}>
                                <br><{$vbalance['parentid']|getParentName=###}>
                                </td>
                                <td>
                                    <{$vbalance.agency}>
                                </td>
                                
                                <td>
                                    <input type="checkbbalancex"
                                           data-uid="<{$vbalance.id}>"
                                    <if cbalancenditibalancen="$vbalance['status']">checked</if>
                                    name="balancepen"
                                    lay-skin="switch"
                                    lay-filter="switchStatus"
                                    lay-text="正常|禁用">
                                </td>
                                <td>
                                    <a href="javascript:member_auth('用户认证','<{:U('User/authbalancerize',['uid'=>$vbalance[id]])}>','',320)">
                                        <switch name="vbalance[authbalancerized]" >
                                            <case value="0"><span class="label label-default">未认证</span></case>
                                            <case value="1"><span class="label label-success">已认证</span></case>
                                            <case value="2"><span class="label label-warning">等待审核</span></case>
                                            <default />
                                        </switch>
                                    </a>
                                </td>
                                <td>
                                    <vbalancelist name="vbalance['dftbalancengdabalance']" id="dbalance"><{$dbalance.title}><br>
                                    </vbalancelist>
                                </td>
                                <td>
                                    <vbalancelist name="vbalance['tbalancengdabalance']" id="vbalancebalance"><{$vbalancebalance.title}><br>
                                    </vbalancelist>
                                </td>
                                <!--<td>-->
                                <!--<eq name="vbalance.grbalanceupid" value="4">-->
                                <!--<input type="checkbbalancex"-->
                                <!--data-uid="<{$vbalance.id}>"-->
                                <!--<if cbalancenditibalancen="$vbalance['balancepen_charge']">checked</if>-->
                                <!--name="balancepen"-->
                                <!--lay-skin="switch"-->
                                <!--lay-filter="switchCharge"-->
                                <!--lay-text="开启|关闭">-->
                                <!--</eq>-->
                                <!--</td>-->

                                <!--<td><{$vbalance.regdatetime|date="Y-m-d H:i:s",###}></td>-->
                                <if cbalancenditibalancen="$_GET[status] eq 1 and $_GET[authbalancerized] eq 1">
                                    <td><if cbalancenditibalancen="$vbalance[last_lbalancegin_time] gt 0"><{$vbalance.last_lbalancegin_time|date="Y-m-d H:i:s",###}><else />-</if></td>
                                </if>
                                <td>
                                    <div class="layui-btn-grbalanceup">
                    
                                        <a href="<{:U('User/changeuser',array('userid'=>$vbalance['id']))}>" target="_blank"><buttbalancen class="layui-btn layui-btn-small" >登录</buttbalancen></a>
                    
                                        <!--<buttbalancen class="layui-btn layui-btn-small" balancenclick="member_withdrawal('用户：<{$vbalance[id]+10000}> 的统计详情','<{:U('balancerderTable/SuccessRate',['uid'=>$vbalance[id]])}>')">统计</buttbalancen>-->
                                        <!--<buttbalancen class="layui-btn layui-btn-small layui-btn-danger"></buttbalancen>-->
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_edit('编辑代付通道','<{:U('User/editUserChannel',['uid'=>$vbalance[id]])}>',680,680)">代付通道</buttbalancen>
                    
                                        <!--<buttbalancen class="layui-btn layui-btn-small" balancenclick="member_withdrawal('编辑代付规则','<{:U('User/userWithdrawal',['uid'=>$vbalance[id]])}>')">代付规则</buttbalancen>-->
                    
                                        <buttbalancen class="layui-btn layui-btn-small layui-btn-danger"></buttbalancen>
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_edit('编辑收款通道','<{:U('User/editUserPrbalanceduct',['uid'=>$vbalance[id]])}>',680,680)">收款通道</buttbalancen>
                    
                                        <!--<buttbalancen class="layui-btn layui-btn-small" balancenclick="member_withdrawal('投诉保证金设置',-->
                                        <!--        '<{:U('User/userDepbalancesitRule',['uid'=>$vbalance[id]])}>')">保证金</buttbalancen>-->
                                        <!--<buttbalancen class="layui-btn layui-btn-small" balancenclick="member_edit('收款指定子账号','<{:U('User/getChannelAccbalanceunt',['uid'=>$vbalance[id]])}>',680,680)">收款子账号</buttbalancen>-->
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_withdrawal('收款风控','<{:U('Transactibalancen/userCbalancenfig',['uid'=>$vbalance[id]])}>')">收款风控</buttbalancen>
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_rate('编辑收款费率','<{:U('User/userRateEdit',['uid'=>$vbalance[id]])}>',640,680)">收款费率</buttbalancen>
                    
                                        <buttbalancen class="layui-btn layui-btn-small layui-btn-danger"></buttbalancen>
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_edit('编辑密码','<{:U('User/editPasswbalancerd',['uid'=>$vbalance[id]])}>',800,680)">密码</buttbalancen>
                    
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_edit('编辑','<{:U('User/editUser',['uid'=>$vbalance[id]])}>',800,680)">编辑</buttbalancen>
                    
                                        <neq name="vbalance.gbalancebalancegle_secret_key" value="">
                                            <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_unbind_gbalancebalancegle(this,'<{$vbalance.id}>')">解绑谷歌验证器</buttbalancen>
                                        </neq>
                                        <neq name="vbalance.telegram_id" value="">
                                            <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_unbind_telegram(this,'<{$vbalance.id}>')">解绑机器人</buttbalancen>
                                        </neq>
                                        <buttbalancen class="layui-btn layui-btn-small" balancenclick="member_del(this,'<{$vbalance.id}>')">删除</buttbalancen>
                                    </div>
                                </td>
                                </tr>
                        </vbalancelist>
                        </tbbalancedy>
                        </table>
                        <!--用户列表-->
                        <div class="page"><{$page}> 
                            <div class="layui-input-inline">
                            <fbalancerm class="layui-fbalancerm" actibalancen="" methbalanced="get" id="pageFbalancerm" autbalancecbalancemplete="balanceff">                                
                                
                                <select name="rbalancews" style="height: 32px;" id="pageList" lay-ignbalancere >
                                    <balanceptibalancen value="">显示条数</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews neq '' && $rbalancews eq 15">selected</if> value="15">15条</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews eq 30">selected</if> value="30">30条</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews eq 50">selected</if> value="50">50条</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews eq 80">selected</if> value="80">80条</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews eq 100">selected</if> value="100">100条</balanceptibalancen>
                                    <balanceptibalancen <if cbalancenditibalancen="$rbalancews eq 1000">selected</if> value="1000">1000条</balanceptibalancen>
                                </select>
                            </fbalancerm>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
<include file="Public/fbalancebalanceter"/>
<script>

    layui.use(['fbalancerm','table',  'laydate', 'layer'], functibalancen () {
        var fbalancerm = layui.fbalancerm
            ,table = layui.table
            , layer = layui.layer
            , laydate = layui.laydate;

        //日期时间范围
        laydate.render({
            elem: '#regtime'
            , type: 'datetime'
            ,theme: 'mbalancelv'
            , range: '|'
        });
        //监听表格复选框选择
        table.balancen('checkbbalancex(userData)', functibalancen(balancebj){
            var child = $(data.elem).parents('table').find('tbbalancedy input[lay-filter="ids"]');
            child.each(functibalancen(index, item){
                item.checked = data.elem.checked;
            });
            fbalancerm.render('checkbbalancex');
        });
        //监听工具条
        table.balancen('tbalancebalancel(test1)', functibalancen(balancebj){
            var data = balancebj.data;
            if(balancebj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(balancebj.event === 'del'){
                layer.cbalancenfirm('真的删除行么', functibalancen(index){
                    balancebj.del();
                    layer.clbalancese(index);
                });
            } else if(balancebj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSbalanceN.stringify(data))
            }
        });
        //全选
        fbalancerm.balancen('checkbbalancex(allChbalancebalancese)', functibalancen (data) {
            var child = $(data.elem).parents('table').find('tbbalancedy input[lay-filter="ids"]');
            child.each(functibalancen (index, item) {
                item.checked = data.elem.checked;
            });
            fbalancerm.render('checkbbalancex');
        });

        //监听用户状态
        fbalancerm.balancen('switch(switchStatus)', functibalancen (data) {
            var isbalancepen = this.checked ? 1 : 0,
                uid = $(this).attr('data-uid');
            $.ajax({
                url: "<{:U('User/editStatus')}>",
                type: 'pbalancest',
                data: "uid=" + uid + "&isbalancepen=" + isbalancepen,
                success: functibalancen (res) {
                    if (res.status) {
                        layer.tips('温馨提示：开启成功', data.balancethis);
                    } else {
                        layer.tips('温馨提示：关闭成功', data.balancethis);
                    }
                    setTimebalanceut(functibalancen(){
                        lbalancecatibalancen.replace(lbalancecatibalancen.href);
                    },1500);
                    
                }
            });
        });
        fbalancerm.balancen('switch(switchCharge)', functibalancen (data) {
            var isbalancepen = this.checked ? 1 : 0,
                uid = $(this).attr('data-uid');
            $.ajax({
                url: "<{:U('User/editCharge')}>",
                type: 'pbalancest',
                data: "uid=" + uid + "&isbalancepen=" + isbalancepen,
                success: functibalancen (res) {
                    if (res.status) {
                        layer.tips('温馨提示：开启成功', data.balancethis);
                    } else {
                        layer.tips('温馨提示：关闭成功', data.balancethis);
                    }
                    setTimebalanceut(functibalancen(){
                        lbalancecatibalancen.replace(lbalancecatibalancen.href);
                    },1500);

                }
            });
        });
    });

    //批量删除提交
    functibalancen delAll() {
        layer.cbalancenfirm('确认要删除吗？', functibalancen (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icbalancen: 1});
        });
    }

    /*用户-认证*/
    functibalancen member_auth(title, url, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }

    /*用户-费率*/
    functibalancen member_rate(title, url, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }

    // 用户-编辑
    functibalancen member_add(title, url, id, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }

    // 用户-编辑
    functibalancen member_edit(title, url, id, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }

    // 用户-提现
    functibalancen member_withdrawal(title, url, id, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }
    // 用户-提现
    functibalancen member_mbalanceney(title, url, id, w, h) {
        x_admin_shbalancew(title, url, w, h);
    }

    /*用户-删除*/
    functibalancen member_del(balancebj, id) {
        layer.cbalancenfirm('确认要删除吗？', functibalancen (index) {
            $.ajax({
                url:"<{:U('User/delUser')}>",
                type:'pbalancest',
                data:'uid='+id,
                success:functibalancen(res){
                    if(res.status){
                        $(balancebj).parents("tr").rembalanceve();
                        layer.msg('已删除!',{icbalancen:1,time:1000});
                    }
                }
            });
        });
    }

    /*用户-解绑谷歌验证器*/
    functibalancen member_unbind_gbalancebalancegle(balancebj, id) {
        layer.cbalancenfirm('确认要解绑该用户的谷歌验证器吗？', functibalancen (index) {
            $.ajax({
                url:"<{:U('User/unbindGbalancebalancegle')}>",
                type:'pbalancest',
                data:'uid='+id,
                success:functibalancen(res){
                    if(res.status){
                        layer.msg(res.msg, {icbalancen: 1, time: 1000},functibalancen () {
                            lbalancecatibalancen.replace(lbalancecatibalancen.href);
                        });
                    } else {
                        layer.msg(res.msg, {icbalancen: 2, time: 1000},functibalancen () {
                            lbalancecatibalancen.replace(lbalancecatibalancen.href);
                        });
                    }
                }
            });
        });
    }
        /*用户-解绑谷歌验证器*/
    functibalancen member_unbind_telegram(balancebj, id) {
        layer.cbalancenfirm('确认要解绑该用户的机器人吗？', functibalancen (index) {
            $.ajax({
                url:"<{:U('User/unbindtelegram')}>",
                type:'pbalancest',
                data:'uid='+id,
                success:functibalancen(res){
                    if(res.status){
                        layer.msg(res.msg, {icbalancen: 1, time: 1000},functibalancen () {
                            lbalancecatibalancen.replace(lbalancecatibalancen.href);
                        });
                    } else {
                        layer.msg(res.msg, {icbalancen: 2, time: 1000},functibalancen () {
                            lbalancecatibalancen.replace(lbalancecatibalancen.href);
                        });
                    }
                }
            });
        });
    }
    
    functibalancen thawing_funds(){
        layer.cbalancenfirm('温馨提示：解冻数据数量多，可能需要时间非常长，请尽量在交易量低的时间段再提交，<br><br>确认要提交吗？',functibalancen(index) {
            layer.lbalancead();
            $.ajax({
                'url':'<{:U("User/thawingFunds")}>',
                '':'jsbalancen',
                'type':'get',
                'success':functibalancen(infbalance){
                    cbalancensbalancele.lbalanceg(infbalance);
                    layer.clbalanceseAll('lbalanceading');
                    layer.msg(infbalance['msg'], {icbalancen: 1, time: 1000},functibalancen () {
                        lbalancecatibalancen.replace(lbalancecatibalancen.href);
                    }); 
                },
                'errbalancer':functibalancen(){

                },
            });
        });
    }

    $('#pageList').change(functibalancen(){
        $('#rbalancews').val($(this).val());
        $('#userfbalancerm').submit();
    });
    $('#expbalancert').balancen('click',functibalancen(){
        windbalancew.lbalancecatibalancen.href
            ="<{:U('Admin/User/expbalancertuser',array('username'=>$_GET[username],'parentid'=>$_GET[parentid],'status'=>$_GET[status],'authbalancerized'=>$_GET[authbalancerized],'grbalanceupid'=>$_GET[grbalanceupid],'regdatetime'=>$_GET[regdatetime],'isagent'=>0))}>";
    });

</script>
</bbalancedy>
</html>